*.ide-wal
*.ide-shm
*.ide
*.lock
EmpresaLivros/EmpresaLivros/obj/EmpresaLivros.csproj.nuget.dgspec.json
EmpresaLivros/EmpresaLivros/obj/EmpresaLivros.csproj.nuget.cache
EmpresaLivros/EmpresaLivros/bin/Debug/netcoreapp2.2/EmpresaLivros.pdb
EmpresaLivros/EmpresaLivros/bin/Debug/netcoreapp2.2/EmpresaLivros.dll
EmpresaLivros/EmpresaLivros/bin/Debug/netcoreapp2.2/EmpresaLivros.deps.json
EmpresaLivros/.vs/EmpresaLivros/v16/.suo
EmpresaLivros/.vs/EmpresaLivros/DesignTimeBuild/.dtbcache
EmpresaLivros/EmpresaLivros/obj/Debug/netcoreapp2.2/EmpresaLivros.assets.cache
EmpresaLivros/EmpresaLivros/obj/project.assets.json
EmpresaLivros/EmpresaLivros/obj/EmpresaLivros.csproj.nuget.g.targets
EmpresaLivros/EmpresaLivros/obj/EmpresaLivros.csproj.nuget.g.props
EmpresaLivros/EmpresaLivros/bin/Debug/netcoreapp2.2/EmpresaLivros.runtimeconfig.dev.json
EmpresaLivros/EmpresaLivros/obj/Debug/netcoreapp2.2/EmpresaLivros.AssemblyInfoInputs.cache
EmpresaLivros/EmpresaLivros/obj/Debug/netcoreapp2.2/EmpresaLivros.csproj.FileListAbsolute.txt
EmpresaLivros/EmpresaLivros/obj/Debug/netcoreapp2.2/EmpresaLivros.csprojAssemblyReference.cache
EmpresaLivros/EmpresaLivros/obj/Debug/netcoreapp2.2/EmpresaLivros.dll
EmpresaLivros/EmpresaLivros/obj/Debug/netcoreapp2.2/EmpresaLivros.pdb
